@import './../../../common/styles/mixins.scss';
@import './../../../common/styles/variables.scss';


.categoryContainer {
    @include flex(flex-start, stretch, column);
    border: 4px solid red;
    font-size: $defaultFontSize;
    
    .categoryTitle {
        font-size: 2.4rem;
        padding: 1.2rem;
        border: 1px solid white;
        border-radius: 11px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        & span:last-child {
            font-size: 3.6rem;
        }
    }
    .subCategory {
        @include flex(flex-start, stretch, column);
        background: $secondaryBgColor ;

    }
}


