@import './../../common/styles/variables.scss';
@import "./../../common/styles/styles";

.main {
  padding: 6.4rem 0;
  font-size: 1.6rem;
  background: $primaryBgColor;

  .container {
    @extend .pageContainer;
    padding: 2.4rem;
    gap: 4.8rem;
  }

}