@import './../../common/styles/variables.scss';

.main {
    padding: 6.4rem 0;
    font-size: 1.6rem;
    background: $primaryBgColor;

    .container {
        border: 1px solid black;
        max-width: 120rem;
        margin: 0 auto;
        padding: 2.4rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 4.8rem;
    }

}