@import './variables.scss';

%buttonShared {
    padding: 0.8rem 1.6rem;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    font-size: $defaultFontSize;
}

.pageContainer {
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}