@import './../../common/styles/variables.scss';
@import "./../../common/styles/styles.scss";


.resultsPage {
  font-size: 1.6rem;
  background-color: $secondaryBgColor;
  padding: 6.4rem 0;
  height: 100%;

  .container {
    @extend .pageContainer;
    padding: 0 6.4rem;
    gap: 2.4rem;
  }
}

