@import './../../common/styles/variables.scss';


.resultsPage {
    font-size: 1.6rem;
    background-color: $secondaryBgColor;
    min-height: 100vh;
    padding: 6.4rem 0;

    .container {
        max-width: 120rem;
        margin: 0 auto;
        padding: 0 6.4rem;

        .tableContainer {
            display: flex;
            flex-direction: column;
            gap: 2.4rem;



            .grid {
                display: grid;
                grid-template-columns: 1fr 10rem 1fr;
                row-gap: 4rem;
                column-gap: 2rem;
                align-items: center;
                justify-items: center;

                .team {
                    border: 1px solid red;
                    border-radius: 11px;
                    width: 100%;
                    text-align: center;
                    padding: 1.2rem 2.4rem;
                    background-color: wheat;
                }

                .score {
                    padding: 1.2rem 2.4rem;
                    border-radius: 9px;
                    font-size: 1.4rem;
                    background-color: brown;
                }
            }
        }
    }
}