@use './../../common/styles/styles.scss';
@import './../../common/styles/variables.scss';
@import './../../common/styles/mixins.scss';



.header {
    min-height: 8.4rem;
    background-color: lightblue;
    @include flex(space-between, center, 0);
    padding: 1.2rem 2.4rem;

    .nav {
        .navList{
            @include flex(center, center, row);
            list-style: none;
            font-size: 2rem;
            font-weight: 550;
            gap: 1.2rem;
            & a:link, a:visited {
                text-decoration: none;
                color: $primaryFontColor;
            }
            & a:hover, a:active {
               color: blue; 
            }
        }
    }

    .button {
        @extend %buttonShared;
        color: $primaryFontColor
    }
}