@use './../../common/styles/styles.scss';
@import './../../common/styles/variables.scss';
@import './../../common/styles/mixins.scss';



.header {
    min-height: 8.4rem;
    background-color: $secondaryBgColor;
    @include flex(space-between, center, 0);
    
    padding: 1.2rem 2.4rem; 

    .button {
        @extend %buttonShared;
        color: $primaryFontColor
    }
}

