.textInput {
    font-size: 32px;
    border-radius: 9px;
    width: 100%;
    background-color: inherit;
    padding-left: 1.6rem;

    &::placeholder {
        color: #aaa;
    }

    &:focus {
        background: white;
    }
}