@import './../../common/styles/variables.scss';


.textInput {
    font-size: 32px;
    border-radius: 9px;
    width: 100%;
    background-color: inherit;
    text-indent: 1.6rem;

    &::placeholder {
        color: $secondaryFontColor;
    }

    &:focus {
        background: white;
    }
}